apiVersion: tm.solution-soft.com/v1alpha1
kind: TimeMachine
metadata:
  name: timemachine-sample
spec:
  tm_lichost: 172.0.0.1
  tm_licport: 57777
  tm_licpass: docker
  imagePullSecrets: []
  replicaCount: 1
  service:
    port: 7800
    targetPort: 7800
    type: NodePort  
